<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Item</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/home-page-styling.css">
</head>
<body>
<div class="container">

    <div class="case-items-table">
        <h4 class="title">Task</h4>
        <hr>
        <p  class="title">Update Task</p>
        <div class="card-body">
            <form id="taskForm" th:action="@{/customerSupportEmployees/caseTask/save(caseItemId=${caseTask.caseItem.id}, caseTaskId=${caseTask.id})}"  th:object="${caseTask}" method="POST">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{caseItem.id}" id="caseItemId">
                <input type="hidden" id="customerSupportId" th:value="${caseTask.caseItem.customerSupport.id}">

                <div class="mb-4">
                    <label for="name" class="title">Name</label>
                    <input type="text" th:field="*{name}" class="form-control w-25 d-inline" placeholder="Name"
                           id="name">
                    <span th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"
                          class="error"></span>
                    <br><br>
                </div>

                <div class="mb-4">
                    <label for="status" class="title">Status</label>
                    <select th:field="*{status}" class="form-control w-25 d-inline" id="status">
                        <option th:value="NOT_STARTED">Not Started</option>
                        <option th:value="IN_PROGRESS">In Progress</option>
                        <option th:value="COMPLETED">Completed</option>
                        <option th:value="CANCELED">Canceled</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="priority" class="title">Priority</label>
                    <select th:field="*{priority}" class="form-control w-25 d-inline" id="priority">
                        <option th:value="NORMAL">Normal</option>
                        <option th:value="HIGH">High</option>
                        <option th:value="CRITICAL">Critical</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="editedStatusReason" class="title">Edited Status Reason</label>
                    <input type="text" th:field="*{editedStatusReason}" class="form-control w-25 d-inline"
                           placeholder="Edited Status Reason" id="editedStatusReason">
                </div>
                <button type="button" class="btn btn-secondary me-2" onclick="exitToHomePage()">Exit</button>
                <button type="button" class="btn btn-secondary me-2" onclick="history.back()">Back</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    let storedCustomerSupportId = document.getElementById('customerSupportId').value;
    function exitToHomePage() {
        if (storedCustomerSupportId) {
            window.location.href = '/customerSupportEmployees/home_page?employeeId=' + encodeURIComponent(storedCustomerSupportId);
        } else {
            console.error('No customerSupportId available.');
        }
    }
</script>
</body>
</html>
